{% extends 'layout.html'%} 
{% block body %}
<div class="col-md-5 offset-md-4">
    <div class="card card-body">
        <form action="/update/{{contact.0}}" method="POST">
            <div class="form-group">
                <p>
                    Nombre:
                    <input type="text" name="nombre_usuario" placeholder="Nombre" value="{{contact.1}}" class="form-control">
                </p>
            </div>
            <div class="form-group">
                <p>
                    Apellido:
                    <input type="text" name="apellido_usuario" placeholder="Apellido" value="{{contact.2}}" class="form-control">
                </p>
            </div>
            <div class="form-group">
                <p>
                    E-mail:
                    <input type="text" name="mail_usuario" placeholder="E-mail" value="{{contact.3}}" class="form-control">
                </p>
            </div>
            <div class="form-group">
                <p>
                    Alias:
                    <input type="text" name="alias" placeholder="alias" value="{{contact.4}}" class="form-control">
                </p>
            </div>
            <div class="form-group">
                <p>
                    Contraseña:
                    <input type="text" name="contrasenia" placeholder="contraseña" value="{{contact.5}}" class="form-control">
                </p>
            </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Save</button>
    </div>
    </form>
</div>
</div>


{% endblock%}