{% extends 'layout.html'%} {% block body %}
<div class="row" id="main-body">
    <div class="col-md-12">
        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"></span>
        </button>
        </div>
        {%endfor%} {% endif%} {%endwith%}
        <div class="card card-body">
            <h1>Formulario de registro</h1>
            {% from "_formhelpers.html" import render_field %}
            <form action="/add_contact" method="POST">
                <div class="row">
                    <div class="col form-group">
                        <dl>
                            {{ render_field(form.nombre_usuario, placeholder="Ingrese su nombre", class="form-control") }}
                        </dl>
                    </div>
                    <div class="col form-group">
                        <dl>
                            {{ render_field(form.apellido_usuario, placeholder="Ingrese su apellido", class="form-control") }}
                        </dl>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <dl>
                            {{ render_field(form.id_dni, placeholder="Ingrese su DNI", class="form-control") }}
                        </dl>
                    </div>
                    <div class="col form-group">
                        <dl>
                            {{ render_field(form.alias, placeholder="Ingrese su alias o nombre de usuario", class="form-control") }}
                        </dl>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 form-group">
                        <dl>
                            {{ render_field(form.contrasenia, placeholder="Ingrese su contraseña (más de 8 caracteres)", class="form-control") }}
                        </dl>
                    </div>
                    <div class="col-6 form-group">
                        <dl>
                            {{ render_field(form.mail_usuario, placeholder="E-mail", class="form-control") }}
                        </dl>
                    </div>
                </div>
        </div>
        <div class="row form-group">
            <div class="col-3"></div>
            <button type="submit" class="btn btn-submit col-6 justify-content-center" data-bs-toggle="modal" data-bs-target="#modal" onclick="mostrarDatos();">Enviar</button>
            <div class=" col-3 "></div>
        </div>
        </form>
    </div>
</div>
{% endblock%}